@import '../../node_modules/react-toolbox/lib/colors.css';
@import '../../node_modules/react-toolbox/lib/variables.css';

.padding {
  padding: 1rem;
}

.noMargin {
  margin: 0;
}

.background {
  background-color: var(--color-primary);
}

.visiblyHide {
  display: none;
}
