@import '../../node_modules/react-toolbox/lib/variables.css';

:root {
  --padding: calc(1.6 * var(--unit));
}

@custom-media --xs-viewport (max-width: 600px);
@custom-media --larger-than-xs-viewport (min-width: 600px);

.appBar {
  padding-right: calc(var(--padding) * 1.5) !important;

  @media screen and (--xs-viewport) {
    height: initial;
  }
}
