@import '../../../node_modules/react-toolbox/lib/variables.css';
@import '../../../node_modules/react-toolbox/lib/colors.css';

:root {
  --padding: calc(1.6 * var(--unit));
}

.button {
  margin-top: var(--padding);
  float: right;
}
