@import '../../../node_modules/react-toolbox/lib/variables.css';
@import '../../../node_modules/react-toolbox/lib/colors.css';

:root {
  --padding: calc(1.6 * var(--unit));
}

.button {
  margin-top: var(--padding);
  float: right;
}

.inputElement,
.label {
  padding-left: var(--padding);
}

@custom-media --xs-viewport (max-width: 600px);
@custom-media --larger-than-xs-viewport (min-width: 600px);

.leftIcon {
  @media screen and (--larger-than-xs-viewport) {
    display: none;
  }
}

.rightIcon {
  @media screen and (--xs-viewport) {
    display: none;
  }
}
