@import '../../../node_modules/react-toolbox/lib/variables.css';

:root {
  --padding: calc(1.6 * var(--unit));
  --halfPadding: calc(var(--padding) / 2);
}

.monthDisplay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.title {
  flex: 2;
  text-align: center;
}

.buttons {
  flex: 0 0 36px;
}

.cardTitle:last-child {
  padding-bottom: var(--halfPadding);
  padding-top: var(--halfPadding);
  display: block;
}
