@custom-media --xs-viewport (max-width: 600px);
@custom-media --smTablet-viewport (max-width: 720px);

.panel {
  max-width: 600px;
  margin: auto;

  @media screen and (--smTablet-viewport) {
    right: 0 !important;
    top: 44px !important;
  }
}

.sidebar {
  @media screen and (--xs-viewport) {
    border-left: 0;
  }
}
