@custom-media --xs-viewport (max-width: 600px);

.panel {
  max-width: 600px;
  margin: auto;

  @media screen and (--xs-viewport) {
    right: 0 !important;
    top: 44px !important;
  }
}

.sidebar {
  @media screen and (--xs-viewport) {
    border-left: 0 !important;
  }
}

.appBar button {
  display: block !important;
}
