@import '../../../node_modules/react-toolbox/lib/variables.css';

:root {
  --card-padding: calc(1.6 * var(--unit));
}

.card {
  flex-direction: row;
  margin-bottom: var(--card-padding);
}

.actions {
  justify-content: center;
  flex-direction: column;

  & [data-react-toolbox='button'] {
    margin: 0;
  }
}

.content {
  flex-grow: 1;
}
